.select {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(217, 217, 217);
  border-image: initial;
  border-radius: 2px;
  height: 32px;
  font-size: 14px;
  width: 56px;
  text-align: center;
}
