.data-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;

  &-thead {
    th {
      position: relative;
      color: #000000d9;
      font-weight: 500;
      text-align: left;
      background: #fafafa;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      cursor: pointer;
      padding: 10px;
      font-weight: bold;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  &-column {
    display: flex;
    align-items: center;

    svg {
      margin-left: 8px;
    }
  }

  &-body {
    tr {
      &:nth-child(even) {
        background-color: #f2f2f2;
      }

      cursor: pointer;
    }

    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      padding: 10px;
    }
  }

  &-loading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    left: 50%;
  }

  &-notfound {
    font-size: 16px;
    text-align: center;
  }
}
